.container {
  background-image: url("../../img/background.jpg");
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  align-items:center;
  justify-content: center;
}

.searchBox {
    display:flex;
    align-items:center;
    justify-content: center;
    width: 70%;
    height: 100px;
    margin:auto;
    background:rgba(255,255,255,0.9);
    border-radius:20px;
}

.searchForm {
    display:flex;
    align-items:center;
    justify-content: center;
}

.searchTextField {
    position:inherit;
    margin-right:20px !important;
    background:rgba(255,255,255, 0.8);
    width:40vw;
}

.flag {
    width: 20vw;
    margin:auto;
    display:block;
    border:1px black solid;
}